# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
/operational-transform
/nudocs
/client/client

#vim swap files
*.go.swp
/test/nudocs.log
.*log
report/report.aux
report/report.dvi
report/report.log

#js dependencies
**/node_modules
/report/report.pdf
